.gamepage {
  height: 100%;
  background-color: #242a3b;
  display: grid;
  grid-template-rows: 7% 38% 55%;
  grid-template-columns: 20% 45% 35%;
  column-gap: 5px;
}

.logo {
  align-self: center;
  display: grid;
  grid-template-columns: 45% 45%;
}

.logo h3 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

.userinfotag {
  align-self: center;
  justify-self: right;
  width: 74%;
  display: grid;
  grid-template-columns: 10% 40% 40%;
  column-gap: 5px;
}

.toprightbtn {
  font-size: 16px;
  width: 130px;
  height: 30px;
}
.userinfo {
  background-color: #242a3b;
  color: #1696c4;
  border: 1px solid #1696c4;
}

.btn-log-off {
  background-color: red;
  color: white;
  border: 1px solid white;
}

.chapters {
  grid-row: 1 / span all;
  overflow-y: scroll;
  height: 99%;
  padding-top: 5px;
  padding-left: 5px;
}

.story {
  overflow-y: scroll;
  padding: 15px;
  border: 1px solid #1696c4;
  border-radius: 10px;
}

.storytext {
  color: white;
  font-family: cursive;
  font-size: 20px;
}

.instructionssolution {
  display: grid;
  grid-template-rows: 80% 20%;
  border: 1px solid white;
  border-radius: 10px;
  width: 433px;
}

.instructions {
  overflow-y: scroll;
  color: #1696c4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.solutiontag {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.code {
  display: grid;
  grid-template-rows: 90% 10%;
  padding: 10px;
}

.codebuttons {
  display: flex;
}

.codebutton {
  font-size: 16px;
  width: 100px;
  align-self: center;
  margin-left: 10px;
}

.output {
  background-color: black;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: green;
  text-align: left;
  padding: 5px;
  overflow-y: scroll;
}

.chapterholder {
  border: 2px solid #1696c4;
  background-color: #1696c4;
  color: #242a3b;
  font-weight: bold;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  height: 40px;
  text-align: left;
  padding-left: 5px;
  display: grid;
  justify-content: left;
  align-content: center;
  margin-bottom: 5px;
  border-radius: 7px;
  width: 100%;
}

.done {
  background-color: green;
  cursor: pointer;
  border-color: lightgreen;
  color: white;
}

.pending {
  cursor: pointer;
  background-color: orange;
  color: black;
  border-color: yellow;
}

.current {
  background-color: #242a3b;
  color: #1696c4;
  border: none;
}

.btn-sound {
  font-size: 16px;
  height: 30px;
  height: 30px;
  border: 1px solid white;
  background: white;
}

.leaderboard-btn {
  height: 50%;
  align-self: center;
  width: 70%;
  justify-self: right;
  font-size: 18px;
}

.btn {
  cursor: pointer;
  border-radius: 15px;
  font-family: "Courier New", Courier, monospace;
}

.white-btn:hover {
  background-color: #bdc3ca;
}

.white-btn:active {
  background-color: black;
  color: white;
}
